<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep</title>
    <link rel="stylesheet" href="module.css">
    <link rel="stylesheet" href="index/index.css">
    <link rel="stylesheet" href="index/indexHeader.css">
    <link rel="stylesheet" href="index/indexNav.css">
    <link rel="stylesheet" href="index/indexSection.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="headerContainer">
                <img id="logo" src="img/logo.png" alt="Logo">
            </div>
        </header>
        <main>
            <div id="mainContainer">
                <nav id="navContainer">
                    
                        <ul>Kategorie
                            <li>Pierwsza</li>
                            <li>Druga</li>
                            <li>Trzecia</li>
                            <li>Czwarta</li>
                        </ul>
                    
                </nav>
                <section id="sectionContainer">
                    
                </section>
            </div>
        </main>

    </div>
</body>
</html>